In [1]:
print("Toko Legit Bakery")

Toko Legit Bakery

In [3]:
 #No1, No2, No3 dan No4 adalah variabbel
 # untuk memanggil variabel, perlu adanya (=) dibelakang
 # str untuk inputan huruf, 
 # int untuk inputan berupa nilai.
No1= str(input("nama kue : "))
No2= int(input("harga kue: "))
No3= int(input("jumlah kue yang dibeli: "))
No4= int(input("jumlah uang yang dibayar: "))

nama kue : oreo cheese cake
harga kue: 12000
jumlah kue yang dibeli: 2
jumlah uang yang dibayar: 100000

In [4]:
# Total pembayaran
Bayar = (No2*No3-No4)

In [5]:
# Menampilkan total jumlah kembalian
print("Kembalian: ","Rp.",Bayar)

Kembalian:  Rp. -76000